[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
rethinkdb = "*"
youtube-dl = "*"
urllib3 = "*"
"discord.ext.menus" = {git = "https://github.com/Rapptz/discord-ext-menus"}
python-dotenv = "*"
aiohttp = "*"
requests = "*"
async-timeout = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
pynvim = "*"
pytest = "*"
dpytest = "*"
yapf = "*"
pytest-asyncio = "*"
pytest-aiohttp = "*"

[requires]
python_version = "3.9"
